{% extends 'admin/base.html.twig' %}

{% block title %}Novo produto
{% endblock %}

{% block body %}
	<h1>Produtos</h1>
	<div class="x_panel">
		<div class="x_title">
			<h2>Novo produto
				<small></small>
			</h2>

			<div class="col-md-12 col-sm-12  ">
				<div class="x_panel">

					<div class="x_content">

						{{ include('/admin/product/_form.html.twig') }}

					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
